extends layout 

block content
    h1= title 
    h2= `Falls under ${branch}`
    p= summary
    h2= `Major Figure: ${MajorFigure}`
    a(href="/catalog") Home 
    a(href=`/catalog/denomination/${id}/delete`) Delete Denomination
    a(href=`/catalog/denomination/${id}/update`) Update Denomination